@charset 'utf-8';

// =====================
// IconPanel
// ---------------------
// アイコンつきのコンテンツメニュー
// =====================

.IconPanel {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    @include mq-sp {
        display: block;
        padding: $space-unit 0;
    }

    &__head {
        padding: $space-unit;
        text-align: center;
        font-size: 18px;
        @include mq-sp {
            text-align: left;
            margin-left: 52px;
            padding: 0 0 15px;
            font-size: 16px;
        }
    }
    &__body {
        padding: $space-unit*1.5;
        max-width: 100%;
        line-height: 1.5;
        @include mq-sp {
            margin-left: 52px;
            padding: 0;
            font-size: 12px;
        }
    }
    // font-awesomeでアイコンを設定する
    &__icon {
        margin-bottom: $space-unit;
        padding: $space-unit/2;
        font-size: 26px;
        color: $color-link;
        @include mq-sp {
            float: left;
            margin-bottom: 0;
            padding-left: 0;
            width: 52px;
            text-align: center;
        }
    }
}
