@charset 'utf-8';

// =====================
// FormStyle
// ---------------------
// フォーム
// =====================

.Form {
    margin: auto;
    max-width: 400px;
    &__input {
        display: block;
        margin-bottom: $space-unit*2;
        padding: 5px 10px;
        width: 100%;
        border: 1px solid $color-main-text;
    }
    &__button {
        display: block;
        margin: auto;
    }
}
