@charset 'utf-8';

// =====================
// Footer
// ---------------------
// グローバルフッター
// =====================

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: $space-unit*2 auto 0;
  padding: $space-unit 0;
  background-color: $color-black;
  color: $color-link;
  &__head {
    flex: 2 1 50%;
  }
  &__head,
  &__body {
    padding-right: $space-unit;
  }
  &__body,
  &__foot {
    align-self: flex-start;
    flex: 1 1 25%;
  }
  a {
    color: $color-link;
    &:hover {
      color: $color-white;
    }        
  }
}
