// 節の見出し
.sectionLabel {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding-top: $space-unit;
    padding-bottom: $space-unit*2;
    color: $color-main-text;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1;
    @include menu-font;
    &::before,
    &::after {
        display: block;
        flex: 1 0 10%;
        height: 0;
        border-bottom: 1px solid $color-main-text;
        content: '';
    }
    &::before {
        margin-right: 22px;
    }
    &::after {
        margin-left: 22px;
    }
}

// ロゴ
.logo {
    display: inline-block;
    padding: 10px 0;
    color: $color-main-text;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 26px;
    @include menu-font;
}

// 記事の大見出し
.articleLabelL {
    padding: 0 0 20px;
    font-weight: normal;
    font-size: 34px;
}

// 記事の中見出し
.articleLabelM {
    padding: 40px 0 20px;
    font-weight: normal;
    font-size: 26px;
}

// 記事の小見出し
.articleLabelS {
    padding: 40px 0 20px;
    font-weight: normal;
    font-size: 26px;
}
