@charset 'utf-8';

// =====================
// トップページ固有のスタイル
// =====================

.IndexPage {
    &__foodMenu,
    &__drinkMenu {
        display: flex;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__drinkMenu {
        background-image: url('#{$image-path}top/menu_drink.jpg');
    }
    &__foodMenu {
        background-image: url('#{$image-path}top/menu_food.jpg');
    }
}
