@charset 'utf-8';

// =====================
// キャンペーンページ固有のスタイル
// =====================

.Campaign {
  &__sweets {
    display: block;
    padding: 10% $space-unit;
    background-image: url('#{$image-path}campaign/sweets.jpg'), linear-gradient(to right,  #e4e8ea 0%,#e4e8ea  47%,#f6f8f7 80%,#f6f8f7 100%);
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-link;
    @include mq-sp {
      padding: $space-unit*2;
      background-size: contain;
    }
    
    &__main {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 66%;
      @include mq-sp {
        width: 100%;
      }
    }
    
    &__head {
      margin-bottom: $space-unit*2;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 22px;
    }
    
    &__body {
      margin-bottom: $space-unit;
      font-size: 14px;
      @include mq-sp {
          font-size: 12px;
      }
    }
    
    &__button {
      padding: 8px 16px;
      border: 1px solid $color-link;
      color: $color-link;
      text-align: center;
      font-size: 16px;
    }
  }
}